:root {
  --background-color: #000000;
  --div-background-color: #000d80;
  --border-color: #888888;

  --space-small: 5px;
  --space-medium: 10px;
  --space-large: 20px;
  --space-ultra: 30px;
}

* {
  font-weight: bold;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin: 4em;
  line-height: 1.5em;
}

/* 設定滾動條的寬度 */
::-webkit-scrollbar {
  width: 3px; /* 垂直滾動條的寬度 */
}

/* 設定滾動條的背景 */
::-webkit-scrollbar-track {
  background: none; /* 滾動條背景顏色 */
}

/* 設定滾動條的顏色 */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* 滾動條顏色 */
}

/* 滾動條滑塊 hover 時的顏色 */
::-webkit-scrollbar-thumb:hover {
  background: #878787; /* 滑塊 hover 時的顏色 */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;

  background: black url("../assets/BG.jpg") center/cover no-repeat fixed;
  transition: background-image 0.5s;
}

section {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

ul,
ol {
  list-style-type: none;
}

mark {
  background-color: transparent !important;
  font-size: 90%;
  color: red;
}

a {
  color: #0069ff;
  cursor: pointer;
  text-decoration: none; /* 移除底線 */
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

th,
td {
  padding: var(--space-medium);
}

tr :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.Title {
  font-size: 35px;
}

.Label {
  font-size: 30px;
}

.Content {
  font-size: 24px;
}

.Note {
  font-size: 18px;
}

.Hint {
  font-size: 14px;
}

.BottomLine {
  padding-bottom: var(--space-small);
  border-bottom: 1px solid var(--border-color);
}

.CenterAlign {
  text-align: center;
}

.LeftAlign {
  text-align: left;
}

.RightAlign {
  text-align: right;
}

@media (max-width: 768px) {
  :root {
    --space-small: 5px;
    --space-medium: 10px;
    --space-large: 18px;
    --space-ultra: 24px;
  }
  .Title {
    font-size: 28px;
  }

  .Label {
    font-size: 24px;
  }

  .Content {
    font-size: 20px;
  }

  .Note {
    font-size: 16px;
  }

  .Hint {
    font-size: 12px;
  }

  .BottomLine {
    padding-bottom: var(--space-small);
    border-bottom: 1px solid var(--border-color);
  }
}
