body {
  background: black url("../assets/BG.jpg") center/cover no-repeat fixed;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: background-image 0.5s;
}

.Screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GameScreen {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.TopBar {
  display: flex;
  align-items: center; /* 垂直居中對齊內容 */
  justify-content: space-between;
  position: fixed; /* 必須設定為 relative，才能讓子元素使用 absolute 定位 */
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.UserButton {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  border: 3px solid #000000;
  cursor: pointer;
}

.LoginButton {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  background-color: #0066ff;
  border-radius: 10px;
  white-space: nowrap; /* 防止按鈕換行 */
  cursor: pointer;
}

.Links {
  background-color: #000000;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.Logo {
  width: 450px;
  height: 243px;
}

.Pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px; /* 圖片之間的間距 */
}

.Pictures > img {
  width: 180px;
  height: auto;
  object-fit: contain; /* 讓圖片按比例縮放 */
  cursor: pointer;
}

.InfoText {
  background-color: rgba(0, 0, 0, 0.5); /* 50% 透明度 */
  border-radius: 10%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  line-height: 0;
}

.InfoText > p {
  margin: 16px;
  font-size: 20px;
  color: white;
  text-align: center; /* 確保文字置中 */
}

.SB {
  margin: 15px;
  width: 450px;
  height: 173px;
}

.HomeButton{
  position: fixed;
  cursor: pointer;
  top: 10px; /* 距離視窗頂部 */
  left: 10px; /* 距離視窗左邊 */
  border: 3px solid white ;
  border-radius: 5px;
}

.RuleButton {
  position: fixed;
  top: 10px;
  left: 50px;
  cursor: pointer;
}

/* 響應式設計 */
@media (max-width: 768px) {
  .GameScreen {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .Logo {
    width: 100%;
    height: auto;
  }

  .Pictures > img {
    width: 33%;
    height: auto;
    object-fit: contain; /* 讓圖片按比例縮放 */
    cursor: pointer;
  }
  .InfoText > p {
    font-size: 18px;
  }

  .SB {
    margin: 15px;
    width: 100%;
    height: auto;
  }
}
